* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.entrance-container {
  height: 100vh;
  width: 100vw;
  background-color: #B9D19F;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0 60px;
  display: flex;
  justify-content: center;    
   
}

.form-section {
  width: auto;
  background-color: #B9D19F;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  height: 100vh;
}

.entrance-card {
  background-color: #fff;
  border-radius: 4vh;
  padding: 50px;
  width: 35vw;
  height: 100vh;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  height: calc(100vh - 72px);
  margin-right: 50px;
  margin-left: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.image-section {
  background-color: #B9D19F;
  align-items: flex-end; 
  display: flex;
  justify-content: center;
  flex: 1;
   
}

.background-image {
  width: 70vh;
  height: auto;
  object-fit: contain;
  object-position: center;
}

button:hover{
  cursor: pointer;
  background-color:#6d8751 ;
}


button{
  color: #fff;
  background-color:#B9D19F ;
  border-radius: 20vh;
  border: none;
  width: 100%;
  max-width: 600px;
  padding-bottom: 4% ;
  padding-top: 4% ;
  margin-bottom: 2% ;
  margin-top: 2% ;
  font-size: large;
}


input{
  border: 2px solid #B9D19F ;
  margin-top: 10px;
  border-radius: 20vh;
  max-width: 600px;
  width: 100%;
  padding-bottom: 4% ;
  padding-top: 4% ;
  padding-left: 5%;
}

@font-face {
    font-family: 'Stolzl';
    src: url('Stolzl-Book.woff2') format('woff2'),
         url('Stolzl-Book.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stolzl';
    src: url('Stolzl-Medium.woff2') format('woff2'),
         url('Stolzl-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Stolzl', sans-serif;
    font-weight: 400; /* Использует Stolzl-Book */
}

h1, h2, h3,span {
    font-family: 'Stolzl', sans-serif;
    font-weight: 500; /* Использует Stolzl-Medium */
}
/* Это можете раскомментировать, заполнить и добавить к своим селекторам
ИЛИ удалить и написать свои селекторы и стили
/*
.registration-card h2 {
  
}

.registration-form {
  
}
*/

