* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.entrance-container {
  height: 100vh;
  width: 100vw;
  background-color: #B9D19F;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  padding: 0 60px;
}

.form-section {
  width: auto;
  background-color: #B9D19F;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex: 1;
  height: 100vh;
}

.entrance-card {
  background-color: white;
  border-radius: 4vh;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  height: calc(100vh - 72px); 
  width: 70vh;
  margin: 0 50px 36px 0; 
  text-align: center;
  font-size: large;
  padding-top: 25vh;
  position: relative;
}

.image-section {
  background-color: #B9D19F;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex: 1;
  margin-left: 50px;
  height: calc(100vh - 36px); 
}

h1, h2, h3, span {
  font-family: 'Stolzl', sans-serif;
  font-weight: 500; 
}

h2 {
  margin: 1vh;
  font-size: 4.3vh;
}

a {
  color: #74885d;
  text-decoration: none;
}

input {
  border: 2px solid #a8c28a;
  border-radius: 20vh;
  margin: 1%;
  padding: 1vh 4vh;
  font-size: 2.2vh;
  width: 72%;
}

button {
  background-color: #a8c28a;
  border: 2.5px solid #a8c28a;
  border-radius: 20vh;
  padding: 1.2vh;
  text-align: center;
  font-size: 2vh;
  color: white;
  font-weight: 550;
  width: 72%;
  margin: 1%;
  cursor: pointer;
}

button:hover {
  border-color: #74885d;
  background-color: #809568; 
  border: 2.5px solid #809568;
}

.entrance-form {
  size: 20vh;
}

.form-links {
  margin-top: 2vh;
  font-size: 2vh;
}

.forgot-password {
  text-align: right;
  margin-right: 14%;
  margin-bottom: 2vh;
  margin-top: 1vh;
}

.logo-container {
  position: absolute;
  bottom: 4vh;
  left: 0;
  right: 0;
  text-align: center;
}