* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.registration-container {
  height: 100vh;
  width: 100vw;
  background-color: #B9D19F;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  padding: 0 60px;
}

.form-section {
  width: auto;
  background-color: #B9D19F;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

.registration-card {
  background-color: #EBEBED;
  border-radius: 20px;
  padding: 50px;
  width: 500px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  height: calc(100vh - 72px);
  margin-right: 50px;
}

.image-section {
  width: auto;
  background-color: #B9D19F;
  display: flex;
  align-items: flex-end; 
  justify-content: flex-start;
  flex: 1;
  padding-bottom: 36px; 
}

.background-image {
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center;
  max-width: 600px;
}

/* Это можете раскомментировать, заполнить и добавить к своим селекторам
ИЛИ удалить и написать свои селекторы и стили
/*
.registration-card h2 {
  
}

.registration-form {
  
}
*/

