/* Stolzl Book */
@font-face {
  font-family: 'Stolzl';
  src: url('../assets/fonts/Stolzl/Stolzl-Book.woff2') format('woff2'),
       url('../assets/fonts/Stolzl/Stolzl-Book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Stolzl Medium */
@font-face {
  font-family: 'Stolzl';
  src: url('../assets/fonts/Stolzl/Stolzl-Medium.woff2') format('woff2'),
       url('../assets/fonts/Stolzl/Stolzl-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}